body {
    margin: 7%;
    font-family: "menlo";
}
mark { 
    background-color: #BCA9F5;
    color: #000000;
}
a:link {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: #dbd9e1;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: #dbd9e1;
    background-color: transparent;
    text-decoration: underline;
}
p.bluebook {
   color: #112263
   background-color: transparent;
   font-family: "Georgia";
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
